@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #bbb6b6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply font-eczar;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
.responsive-padding {
  @apply px-4 md:px-12 lg:px-20;
}
.secondry-button {
  @apply w-[136px] h-[36px] md:h-auto md:px-4 md:py-4 font-semibold md:w-56 flex items-center justify-center text-xs md:text-xl rounded-[6px];
}
button {
  @apply font-workSans;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.clip-path-from-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.clip-path-to-right {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.transparent-background {
  background: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 1) 300px
  );
}
